// Bootstrap library.
@import 'bootstrap.less';
@import "block.less";
@import "block_facet.less";
@import "terms_block_facets.less";
@import "facet_query.less";
@import "flaticon.less";
@import "responsive_rules.less";
@import "font-awesome/font-awesome.less";

@font-face {
  font-family: 'obiba';
  src: url('../fonts/obiba.eot?7u6h79');
  src: url('../fonts/obiba.eot?#iefix7u6h79') format('embedded-opentype'), url('../fonts/obiba.woff?7u6h79') format('woff'), url('../fonts/obiba.ttf?7u6h79') format('truetype'), url('../fonts/obiba.svg?7u6h79#obiba') format('svg');
  font-weight: normal;
  font-style: normal;
}

.main-container {
  margin-top: 25px;
}

[class^="i-obiba-"], [class*=" i-obiba-"] {
  font-family: 'obiba';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-obiba-list-item:before {
  content: "\e606";
}

.i-obiba-taxonomy:before {
  content: "\e605";
}

.i-obiba-S:before {
  content: "\e603";
}

.i-obiba-search-icon:before {
  content: "\e606";
}

.i-obiba-N:before {
  content: "\e604";
  padding-left: 5px;
}

.i-obiba-V:before {
  content: "\e600";
}

.i-obiba-D:before {
  content: "\e601";
}

.i-obiba-D-h:before {
  content: "\e602";
}

.t_badge() {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50% !important;
  color: #ffffff;
  padding-top: 10px;
  /* padding-left: 3px; */
  font-size: 40px;
  margin-right: 10px;
}

.t_badge {
  .t_badge();
}

.t_badge_100 {
  height: 100px;
  width: 100px;
  font-size: 70px;
  padding-top: 14px;
}

.color_S {
  background-color: #50A6DC;
  background-size: cover;
}

.color_search-icon {
  background-color: #50A6DC;
  background-size: cover;
}

.color_D, .color_D-h {
  background-color: #47AE48;
  background-size: cover;
}

.color_D-h {
  background-color: #47AE48;
  background-size: cover;
  font-size: 38px;
  padding-left: 2px;
  padding-top: 11px;
}

.color_N {
  background-color: #A8509E;
  background-size: cover;
}

.color_V {
  background-color: #EF4C3D;
  background-size: cover;
}

.color_taxonomy {
  background-color: #EF4C3D;
  background-size: cover;
}

.color_light {
  background-color: @gray-lighter;
  background-size: cover;
}

/***Fixed side bar ****/

#sidebar-wrapper {
  .affix {
    margin-left: 10px;
  }
  /*    margin-right: -(@container-lg/2); */
  float: right !important;
  a {
    color: lighten(@text-color, 25%);
  }
  .nav {
    background-color: #fff;
    width: 250px;
    .nav > li > a {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 20px;
      font-size: 12px;
      font-weight: 400;
      border-bottom: dashed 1px #ccc;
    }
  }
  .active > a {
    color: #563d7c;
    background-color: rgba(86, 61, 124, 0.10);
  }

  position: fixed;
  height: 100%;
  margin-right: -240px;
  z-index: -1000;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-untoggled {
  width: 300px;
}

/*Boutton*/
.menu-toggle {
  position: absolute;
}

/***************fixed side bar********/
div.legend {
  font-size: 12px;

  h6 {
    display: inline-block;
    font-weight: bold;
    margin: 5px 0 0 0;
  }

  i {
    background: transparent !important;
  }
}

.coverage-table {
  overflow: auto;
  border: 1px solid #dddddd;
  margin-bottom: 20px;

  table {
    border: none !important;
    margin-bottom: 0;
  }
}

.document-listing-search-bar {
  display: inline-flex;
}

.searchCount() {
  font-size: 125%;
  font-weight: bold;
  margin-top: 10px;
  color: #777777;
}

div.search-count {
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  span {
    .searchCount();
  }
}

.min-height-align {
  min-height: 45px;
}

/**Search page***/
div.scroll-content-tab {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.region-facets .block-obiba-mica-search div.block-content li {
  margin-bottom: 0px;
}

.search-result {
  table > thead {
    font-size: 12px;
  }
  table > tbody {
    font-size: 12px;
  }
  table > tbody > tr > td.checkbox {
    text-align: center;
  }

  table#studies-results > tbody > tr:first-child,
  table#networks-results > tbody > tr:first-child {
    .empty.message {
      font-weight: normal;
    }
  }

  tr.table-secondary-header {
    font-weight: bolder;
  }
}

.facet-search-form {
  div.inline-form {
    display: inline-block;
  }

  p {
    display: inline-block;
    vertical-align: top;
  }
  i.remove-icon {
    position: absolute;
    z-index: 25;
    right: 5px;
    top: 10px;
  }
}

/*Search page see more/less control**/
.expand-control {
  text-align: right;
  margin: 3px 10px 4px 0px;
  .link-expand {
    cursor: pointer;
    font-size: 0.8em;
    margin-right: 5px;
  }

  .btn-xs {
    font-size: 0.8em;
  }
}

.form-autocomplete {
  margin: 5px;
  input {
    height: 25px;
    font-size: 12px;
  }
  span.input-group-addon {
    height: 25px;
    font-size: 8px;
    padding: 6px 12px;
  }

}

span.range-default {
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 10px;
}

.remove-icon {
  margin-left: 10px;
  font-size: 12px;
}

/**********media query small devise *****/
table.dataTable {
  width: 100% ! important;
}

.DTFC_LeftBodyLiner {
  overflow: hidden ! important;
}

div.padding-left-15 {
  padding-left: 15px;
}

/******Studies list pages***********/
img.imageThumb {
  width: 150px;
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
}

.document-item-list-text {
  color: #666;
  font-size: small;
}

.document-item-list {
  padding-top: 10px;
  padding-bottom: 10px;
}

.document-item-list:hover {
  .document-item-list;
  background-color: #f9f9f9;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-top-margin {
  margin-top: 0 !important;
}

.list-no-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.search-list-no-style {
  .list-no-style;
  li {
    display: inline-block;
  }
}

ul.search-item-list-no-style {
  list-style: none;
  padding-left: 5px;
  margin: 0 5px 0 5px;
  border-left: 3px solid;
  border-left-color: rgba(73, 73, 73, 0.1);
}

.flex-row {
  display: flex;
}

.logo-container {
  height: 90%;
  text-align: center;
  display: table;
  width: 100%;
}

#download-btn {
  display: none;
}

.list-page {
  min-height: 75px;
  .big-character {
    min-width: 114px;
    font-size: 40px;
    text-align: center;
  }

  h4 {
    font-weight: 500;
  }

  img {
    display: inline;
    margin-left: -25px;
    width: 125px;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .fluid-custom {
    display: table !important;
    float: none !important;
  }

  .vercenter {
    float: none !important;
    display: table-cell !important;
    vertical-align: middle;
  }

}

/****************Domain coverage page *******/
.fix-width-column {
  width: 200px;
  min-width: 200px;
}

.right-border {
  border-right: 1px solid #dddddd;
}

/*****dataset page*****/
.table-var-wrapper {
  position: relative;
}

div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 60px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 1.2em;
  z-index: 150;
}

// Sections
.block-content {
  article {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    width: 100%;

    section {
      //background-color: #f9f9f9;
      border-bottom: 1px solid #cccccc;
      margin: 0;
      padding: 0 20px 10px 20px;
      .table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
        background-color: #fff;
      }
      h5 {
        margin-bottom: 5px;
      }
      h5 + p {
        margin-left: 20px;
      }
      h3 + p.help-block, h4 + p.help-block, h5 + p.help-block, p + p.help-block {
        padding: 0;
      }
      h5 + p.help-block {
        margin-left: 0;
        margin-top: 0px;
      }
      td h5 {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
        color: #222222;
      }
      td ul {
        padding-left: 5px;
        li {
          margin-bottom: 10px;
        }
      }
      .col-xs-3 {
        width: 24%;
      }
      .col-xs-6 {
        width: 48%;
      }
      .col-xs-9 {
        width: 74%;
      }
    }
  }
  .tab-pane article {
    border-top: none;
  }
  .indent {
    margin-left: 10px;
  }
  .lg-indent {
    margin-left: 20px;
  }
  .right-indent {
    margin-right: 10px;
  }
  .lg-right-indent {
    margin-right: 20px;
  }
  table {
    border: 1px solid #dddddd;
    td {
      font-size: @font-size-small;
      .glyphicon {
        font-size: 13px;
        background-color: transparent;
      }
    }
    tbody {
      th {
        width: 200px;
      }
    }

    thead {
      tr {
        th {
          .popover-content {
            font-size: @font-size-small !important;
            font-weight: normal !important;
          }
        }
      }
    }
  }
  .modal-body {
    section {
      background-color: #ffffff;
      margin: 0;
      border: none;
    }
  }
  .sm-width {
    max-width: 50px;
  }
  .md-width {
    max-width: 100px;
  }
  .lg-width {
    max-width: 200px;
  }
  .sm-top-margin {
    margin-top: 5px;
  }
  .sm-bottom-margin {
    margin-bottom: 5px;
  }
  .md-top-margin {
    margin-top: 10px;
  }
  .lg-top-margin {
    margin-top: 20px;
  }
  .md-bottom-margin {
    margin-bottom: 10px;
  }
  .lg-bottom-margin {
    margin-bottom: 20px;
  }
  .md-top-padding {
    padding-top: 10px;
  }
  .indent {
    margin-left: 10px;
  }
  .lg-top-padding {
    padding-top: 20px;
  }
}

/************diver css****/
.center-row {
  display: table;
}

.center-div {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.markdown table {
  .table;
  .table-striped;
}

form.autocomplete {
  padding: 0 5px 0 17px !important;

  div.dropdown {
    position: absolute;
    z-index: 150;
  }

  .dropdown-menu {
    position: relative;
  }
}

.refresh-list {
  max-height: 39px;
}

.nav-tabs > li > a {
  padding: 10px 15px;
}

.inline-form > form > div {
  display: inline-flex;
}

.advanced-search-link-center {
  margin-top: 15px;
  float: right;
}

.count-item-center {
  margin-top: 10px;
  float: left;
}

// Vertical tabs.
.vertical-tabs {
  .form-type-textfield input {
    .box-sizing(inherit);
    width: auto;
  }
  .form-item {
    margin: 1em 0;
  }
}

table.dataTable tbody > tr > td,
table.dataTable th > tr > td {
  padding-right: 18px;
}

.no-float-tab {
  clear: both;
}

.no-border {
  border: none !important;
}

.tooltip-inner {
  .tooltip-inner;
  font-size: small;
  box-shadow: 1px 1px 2px rgba(204, 204, 204, 0.55);
  border: solid 1px #ccc;
}

table.valign-table-column tbody > tr > td {
  vertical-align: middle;
}

.alert-black {
  color: #000 !important;
}

.dataTables_scrollBody {
  margin-top: -21px;
}

th.study-title {
  vertical-align: middle !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: center right;
}

table.dataTable thead .sorting {
  background-image: url("../img/sort_both.png");
}

table.dataTable thead .sorting_desc {
  background-image: url("../img/sort_desc.png");
}

table.dataTable thead .sorting_asc {
  background-image: url("../img/sort_asc.png");
}

.form-control {
  .form-control;
  padding: 5px 5px !important;
  color: #000 !important;
}

div.innerdivs {
  width: 50%;
  margin: 0 auto;
}

.form-button-group {
  .indent {
    margin-left: -35px;
  }
  div[class^="col-md-"] {
    padding-left: 5px;
    padding-right: 5px;
  }
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.logout-class {
  color: #fff;
  float: right;
  margin-top: -55px;
  margin-right: 15px;
}

.obiba-bootstrap-user-register-form-wrapper {
  margin-top: 15px;
}

.form-control-feedback {
  .form-control-feedback;
  right: 10px !important;
}

textarea.height-10, textarea.form-control.height-10 {
  height: 10em;
}

textarea.height-20, textarea.form-control.height-20 {
  height: 20em;
}

textarea.height-40, textarea.form-control.height-40 {
  height: 40em;
}

textarea.height-60, textarea.form-control.height-60 {
  height: 60em;
}

.ng-scope {
  h2.page-header {
    border-bottom: none;
  }
}

li.next.last, li.prev.first {
  text-transform: capitalize;
}

.help-info-box {
  margin-left: 15px;
  margin-right: 15px;
}

ul.dropdown-menu-compact {
  min-width: 100% !important;

  > li > a {
    padding-left: 9px !important;
  }
}