// copied from bootstrap/bootstrap_subtheme/less/overrides.less

// Media query variables.
@mobile: ~"(max-width: 767px)";
@tablet: ~"(min-width: 768px) and (max-width: 979px)";
@normal: ~"(min-width: 980px) and (max-width: 1199px)";
@wide: ~"(min-width: 1200px)";
@errorText : ~"(color: #C7254E)";
@errorBorder: ~"(color: #C7254E)";

// Border Radius
.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

// Drop shadows.
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}

// Box sizing.
.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
  -moz-box-sizing: @boxmodel;
  box-sizing: @boxmodel;
}

html {
  &.overlay-open .navbar-fixed-top {
    z-index: 400;
  }
  &.js {
    // Collapsible fieldsets.
    fieldset.collapsed {
      height: auto;
    }
    // Throbbers.
    input.form-autocomplete {
      background-position: 100% 8px; /* LTR */
      background-repeat: no-repeat;
    }
    input.throbbing {
      background-position: 100% -13px; /* LTR */
    }
  }
}

body {
  // Bootstrap manually sets line heights, this should be relative (em) to the
  // font size, not manually set.
  &, h1, h2, h3, h4, h5, h6 {
    line-height: 1.25em;
  }
  @media @mobile {
    // Fix horizontal scrolling on iOS devices.
    // http://drupal.org/node/1870076
    position: relative;
  }
  @media @normal, @wide {
    padding-top: 60px;
  }
  // Core admin toolbar.
  &.toolbar .navbar-fixed-top {
    top: 30px;
  }
  &.toolbar-drawer .navbar-fixed-top {
    top: 65px;
  }
  &.admin-expanded.admin-vertical.admin-nw .navbar,
  &.admin-expanded.admin-vertical.admin-sw .navbar {
    margin-left: 260px;
  }
  div#admin-toolbar {
    z-index: 500;
  }
  @media @normal, @wide {
    &.toolbar {
      padding-top: 94px !important;
    }

    &.toolbar-drawer {
      padding-top: 129px !important;
    }
  }
  // Admin_menu toolbar.
  #admin-menu {
    .box-shadow(none);
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1100;
    .dropdown li {
      line-height: normal;
    }
  }
  &.admin-menu {
    html & {
      margin-top: 28px !important;
    }
    .navbar-fixed-top {
      top: 28px;
    }
  }
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}

// Element invisible fix
.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}

// Branding
.navbar .logo {
  margin-top: 15px;
  margin-right: 10px;

  img {
    width: 30px;
    height: 30px;
  }

}

#site-name {
  line-height: 1;
  margin: 0;
}

// Page header
.page-header {
  margin-top: 0;
  border: none;
}

section[class^="col-"], section[class*=" col-"], aside[class^="col-"], aside[class*=" col-"] {
  padding: 0;
}

// Breadcrumbs
.breadcrumb {
  padding: 8px 0;
  background-color: transparent;
}

// Labels
.label a {
  color: @label-color;
}

// Navigation
.region-navigation, .region-header {
  .pull-right;

  .block-title {
    display: none;
  }

  label {
    font-weight: normal;
    font-size: smaller;
    margin-bottom: 2px;
  }

  input[type="text"], input[type="password"] {
    width: 100px;
    max-width: 100px;
    height: 25px;
    padding: 6px;
    font-size: 12px;
  }

  .btn {
    font-size: smaller;
    height: 25px;
    padding: 0 5px 0 5px;
    margin-bottom: 2px;
  }

  .form-item {
    display: inline-block;
    margin-bottom: 2px;
  }
}

// Side bar first
.region.region-sidebar-first.well {
  margin-right: 20px;
}

// Paragraphs
p:last-child {
  margin-bottom: (@line-height-computed / 2);
}



// Search form.
form#search-block-form {
  margin: 0;
}

.navbar #block-search-form {
  float: left;
  margin: 5px 0 5px 5px;
  @media @mobile, @tablet {
    float: none;
  }
}

fieldset.search-advanced {
  padding-bottom: 1.5em;
  margin-top: 1em;
}

.navbar-search .control-group {
  margin-bottom: 0px;
}

// Action Links
ul.action-links {
  margin: 0;
  li {
    display: inline;
    padding-right: 0.8em;
  }
  [class^="icon-"], [class*=" icon-"] {
    padding-right: 0.5em;
  }
}

// Form elements.
input, textarea, select, .uneditable-input {
  max-width: 100%;
  width: auto;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  .box-sizing(border-box);
  height: auto;
}

input.error {
  color: @errorText;
  border-color: @errorBorder;
}

.form-type-checkbox input, .form-type-radio input {
  float: left;
}

.form-actions {
  clear: both;
}

.resizable-textarea textarea {
  .border-radius(~"4px 4px 0 0");
}

.help-block, .control-group .help-inline {
  // color: @placeholderText;
  font-size: 12px;
  margin: -8px 0 10px;
  padding: 0 3px;
  .description + &,
  .checkbox + &,
  .form-type-checkbox + &,
  .form-type-radio + &,
  .form-file + &,
  .resizable-textarea + & {
    margin-top: 0;
  }
}

.input-append {
  .box-sizing(border-box);
  padding-right: 40px;
  width: 100%;
  input, textarea, select, .uneditable-input {
    width: 100% !important;
  }
}

// Inline containers.
.container-inline div, .container-inline label {
  display: block;
}

.control-group.error {
  background: none;
  label, .control-label {
    color: @errorText;
    font-weight: 600;
  }
  .help-block, .help-inline {
    //    color: @placeholderText;
  }
}

.help-inline {
  font-size: 12px;
  color: lighten(@text-color, 25%);
}

// Lists
ul li.collapsed,
ul li.expanded,
ul li.leaf {
  list-style: none;
  list-style-image: none;
}

// Submitted
.submitted {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: normal;
  color: #777;
}

// Password strength indicator.
.password-strength {
  width: 17em;
  float: right; /* LTR */
  margin-top: 1.4em;
}

.password-strength-title {
  display: inline;
}

.password-strength-text {
  float: right; /* LTR */
  font-weight: bold;
}

input.password-confirm,
input.password-field {
  width: 16em;
  margin-bottom: 0.4em;
}

div.password-confirm {
  float: right; /* LTR */
  margin-top: 1.5em;
  visibility: hidden;
  width: 17em;
}

div.form-item div.password-suggestions {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  width: 38.5em;
  border: 1px solid #B4B4B4;
}

div.password-suggestions ul {
  margin-bottom: 0;
}

.confirm-parent,
.password-parent {
  clear: left; /* LTR */
  margin: 0;
  width: 36.3em;
}

// Progress bar.
.progress-wrapper .progress {
  margin-bottom: 10px;
  .bar {
    border: 0 none;
    margin: 0;
  }
}

// Views AJAX pager.
.pagination ul > li > a {
  &.progress-disabled {
    float: left;
  }
  .throbber {
    margin: 0 -0.25em 0 0.5em;
    position: relative;
    top: 1px;
  }
}

.prettyprint {
  min-width: 250px;
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.col-sm-3 {
  position: relative;
  min-height: 1px;
}

.header-fixed {
  width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
  display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

.header-fixed > tbody {
  overflow-y: auto;
  max-height: 319px; // 11 row of 29px
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
  height: 30px;
  width: 33.33%;
  float: left;
}

#obiba-mica-search-form {
  .form-item {
    display: inline;
  }
  .form-control {
    display: inline;
    width: auto !important;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-radius: 0px !important;
    margin-right: 5px;
  }
  .input-group-addon {
    margin-right: -4px;
    display: inline !important;
    padding: 8px 10px 6px 10px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    color: #95a5a6;
    text-align: center;
    background-color: #ecf0f1;
    border: 1px solid #cccccc;
  }
}

.datepicker .btn {
  .border-top-radius(0);
  .border-right-radius(0);
  .border-bottom-radius(0);
  .border-left-radius(0);
}